@model IMS.Entity.Entities.SKU
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Type ID: @Model.Id</h4>
    <h4>Type Name: @Model.SKUsName</h4>
    <h4>Brand is Created by: @Model.CreatedBy</h4>
    <h4>Brand is Created at: @Model.CreatedDate</h4>
    <h4>Brand is Modyfied By: @Model.ModifyBy</h4>
    <h4>Brand is Modyfied By: @Model.ModifyDate</h4>
</div>

<p>
    @Html.ActionLink("Update", "Update", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


