@model IMS.Entity.Entities.SKU
@{
    ViewBag.Title = "Update";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<h2>Update</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.SKUsName, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.SKUsName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SKUsName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
    </div>
}